
.weri {
	color: red;
	zoom: 200%;
}

.wer{
	color: blue;
}

p {
	text-align: center;
	margin-top: 75px;
}

body {
	background-image: url(https://img-fotki.yandex.ru/get/67890/136164467.17/0_12bc81_21263ac1_orig.png);
}
